* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #1e1e2f;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
  }

  /* sidebar */
  .sidebar {
    width: 220px;
    background-color: #292944;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sidebar h2 {
    font-size: 1.2em;
  }

  .info {
    font-size: 1em;
    margin-top: 10px;
  }
  /* ------------------------------------------------------------ */

  /* Área do desktop */
  .desktop {
    flex: 1;
    background-color: url('../Frontend/assets/apartamentodeumquarto1.webp') no-repeat center center fixed;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 40px;
    align-content: flex-start;
  }

  .app-icon {
    width: 100px !important;
    height: 100px !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }

  .app-icon:hover {
    background-color: #505070;
  }

  .app-icon span {
    margin-top: 10px;
    font-size: 0.9em;
  }

  img{
    max-width: 60px;
    max-height: 60px;
  }
/* ------------------------------------------------------------------------ */

/* MODAL */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #02244ba4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 400px;
    max-width: 90%;
  }
  
  .hidden {
    display: none;
  }
  
  .modal-conteudo {
    position: relative;
  }
  
  .fechar-modal {
    position: absolute;
    color: #fff;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  /* div tarefa */

  #tarefa {
    margin-top: 10px;
  }

  #modal-tarefas .tarefas button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    background-color: #4F46E5; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  #modal-tarefas .tarefas button:hover {
    background-color: #4338CA; 
  
  }
  
  #modal-tarefas .tarefas button:disabled {
    background-color: #9CA3AF; 
    cursor: not-allowed;
    transform: none;
  }
  
/* -------------------------------------------------------------------- */


/* estilização modal escolhas */


#modal-desafio-final .escolhas button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  background-color: #4F46E5; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}

#modal-desafio-final .escolhas button:hover {
  background-color: #4338CA;

}

#modal-desafio-final .escolhas button:disabled {
  background-color: #9CA3AF;
  cursor: not-allowed;
  transform: none;
}



.botao-aceitar-desafio {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  background-color: #4F46E5; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}