* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #1e1e2f;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
  }

  /* Painel lateral com nome, dinheiro e XP */
  .sidebar {
    width: 220px;
    background-color: #292944;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sidebar h2 {
    font-size: 1.2em;
  }

  .info {
    font-size: 1em;
    margin-top: 10px;
  }

  /* Área do desktop */
  .desktop {
    flex: 1;
    background-color: #202030;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 40px;
    align-content: flex-start;
  }

  .app-icon {
    width: 100px !important;
    height: 100px !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }

  .app-icon:hover {
    background-color: #505070;
  }

  .app-icon span {
    margin-top: 10px;
    font-size: 0.9em;
  }

  img{
    max-width: 60px;
    max-height: 60px;
  }